.responsive-image__wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;

	.no-js & {
		display: none;
	}

	&::before {
		content: '';
		position: relative;
		display: block;
	}

	img {
		display: block;
		width: 100%;
	}
}

.responsive-image__wrapper--full-height {
	height: 100%;
}

.responsive-image__image {
	@include absolute(top 0 right 0 bottom 0 left 0);
	@include size(100%);
	@extend .d-block;

	&:focus {
		outline-offset: -4px;
	}
}
