/**
 * Shop name
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Shop-name {
	@include letter-spacing(200);
	@extend %font-weight-regular, %text-transform-uppercase;

	font-family: 'Trebuchet MS';
	font-size: $base-font-size-px;
	line-height: $base-line-height-px;
}
