/**
 *
 *
 *
 *
 *
 *
 */
.Header {
	@extend %padding-top-5, %position-relative;

	color: the_color(black);

	&::before {
		@extend .d-block;

		@include absolute(top 0 right 0 left 0);
		@include size(100%, $base-line-height-px / 4);

		color: the_color(blue, very-dark);

		background: linear-gradient(
			90deg,
			the_color(blue, very-dark) percentage(1/3),
			the_color(white) percentage(1/3),
			the_color(white) percentage(2/3),
			the_color(green, lime) percentage(2/3)
		);
		content: '';
	}
}
