/**
 * Product
 *
 * @author Jéémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Product {
	&__image {
		img {
			@include size(100%, auto);
			@extend .d-block;
		}
	}

	&__thumbnail {
		@include margin(top auto right auto bottom auto left auto);

		object-fit: contain;
		object-position: center;

		&:focus {
			outline: none;
			outline-offset: 0;
		}
	}

	&__thumbnails {
		@extend %list-style-type-none;
		@extend .d-flex, .align-items-center;

		li {
		}
	}

	&__header {
		@extend .d-flex;
		@include margin(bottom $base-line-height-px);
	}
}
