/**
 * Input
 *
 *
 *
 *
 */
.Input {
	@include reset-placeholder(the_color(white));

	@include padding(
		top $base-line-height-px / 2 right $base-line-height-px / 2 bottom $base-line-height-px / 2
			left $base-line-height-px / 2
	);

	font-size: 18px;
	line-height: (34/18);
	color: the_color(white);

	&[type='text'],
	&[type='email'] {
		@include padding(
			top (($base-line-height-px / 2) - 1) bottom (($base-line-height-px / 2) - 1)
		);
		@extend %font-family-title;

		border: 1px solid the_color(white);
	}

	&[type='submit'] {
		background-color: the_color(green, lime);
	}
}
