/**
 * Product card
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Product-card {
	@include margin(bottom $base-line-height-px);

	&__image {
		@include size(100%, $base-line-height-px * 14);

		margin: 0 auto !important;
		max-width: 100% !important;

		img {
			@include size(100%);
			@extend .d-block;

			object-fit: cover;
			object-position: center;

			max-width: 100% !important;
			max-height: 100% !important;

			&:focus {
				outline: none;
				outline-offset: 0;
			}
		}
	}

	&__footer {
		@extend .d-flex, .justify-content-between;
	}
}
