<div class="Sections">
	<div class="Site-container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-transform-uppercase">{{ page.title }}</h1>

				<section class="Wishlist" id="wishlist">
					<div class="row" data-wishlist-grid>
						<p>Loading...</p>
					</div>
				</section>

				<a class="Button d-block empty-list--btn" href="/collections/all">
					{{ 'page.wishlist.start_shopping' | t }}
				</a>
			</div>
		</div>
	</div>
</div>
